language: node_js
node_js:
  - '0.8'
  - '0.10'
before_install:
  - currentfolder=${PWD##*/}
  - if [ "$currentfolder" != 'generator-ngs' ]; then cd .. && eval "mv $currentfolder generator-ngs" && cd generator-ngs; fi

